.input-container {
	/* margin: 2rem; */
	display: inline-block;
	margin: auto;
	width: 100%;
}

.input {
	height: 4rem;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	outline: none;
	font-size: 1.6rem;
	margin: 5px 0;
}
.input:focus {
	border: 3px solid var(--blue);
	transition: all ease .1s;
    /* transform: scale(1.01); */
}
.input.error{
	border: 3px solid var(--red);
	transition: all ease .1s;
}
.input__error-message{
	display: block;
	justify-self: left;
	align-self: left;
	text-align: left;
	font-size: 1.2rem;
	color: var(--red);
}
