.input-container {
	display: inline-block;
	margin: auto;
	width: 100%;
}

.input {
	border: 2px solid var(--subs-blue);
	border-radius: 500px;
	padding: 10px 24px;
	width: 100%;
	font-size: 1.6rem;
	background-color: transparent;
	color: var(--font-color-4);
	outline: none;
	margin: 0;
	margin-bottom: 5px;
	transition: 0.3s all;
}
.input:focus {
	border: 2px solid var(--subs-blue);
	transition: 0.3s all;
	/* transform: scale(1.01); */
}
.input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: grey;
	opacity: 1; /* Firefox */
	z-index: -1;
}
.input.error {
	border: 2px solid red;
	transition: all ease 0.1s;
	color: rgb(255, 0, 0, 0.5);
}
.input__error-message {
	display: block;
	justify-self: left;
	align-self: left;
	text-align: left;
	font-size: 1.2rem;
	color: var(--red);
}
