////////////////////////////////////////////////////////////////////////
// HEADER
////////////////////////////////////////////////////////////////////////

.header {
	&__container {
		width: 100%;
		height: 7rem;
		padding: 5px 2rem;
		display: flex;
		margin: 1.5rem auto;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		a {
			font-size: 1.4rem;
		}
	}
	&__logo img {
		height: 100px;
	}
}
/* Tablettes */
@media (min-width: 480px) {
	.header {
		&__container {
			width: 100%;
			height: 7rem;
			padding: 5px 2rem;
		}
		&__logo img {
			height: 130px;
		}
	}
}

/* computers */
@media (min-width: 1200px) {
	.header__container {
		width: 100%;
		height: 7rem;
		padding: 0px 15%;
	}
}

////////////////////////////////////////////////////////////////////////
// ACCUEIL
////////////////////////////////////////////////////////////////////////

.accueil {
	&__container {
		margin: 3rem;
		.FaAngleDoubleDown {
			position: absolute;
			margin-top: 7rem;
			height: 40px;
			width: 40px;
			animation: 5s infinite arrowMovement;
			transform: translateX(-20px);
		}
	}
	&__titles {
		margin-top: 8rem;
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		h1 {
			text-align: center;
			color: white;
			font-size: 3.4rem;
			font-weight: 700;
			span {
				color: var(--subs-yellow);
			}
		}
		h2 {
			margin-top: 3rem;
			text-align: center;
			color: var(--subs-yellow);
			font-size: 2rem;
		}
	}
	&__description {
		display: none;
		// color: var(--subs-yellow);
		// font-size: 1.6rem;
		// margin-top: 7rem;
		// margin-bottom: 2rem;
	}
	&__buttons {
		margin: 0 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		& > * {
			margin: 3px;
		}
		&-input {
			border: 2px solid white;
			border-radius: 500px;
			padding: 10px 24px;
			width: 100%;
			font-size: 1.6rem;
			background-color: transparent;
			color: rgb(255, 255, 255);
			outline: none;
			margin: 0;
			margin-bottom: 5px;
			transition: 0.3s all;
			&:focus {
				border: 2px solid var(--subs-yellow);
				transition: 0.3s all;
			}
			&::placeholder {
				// color: white;
				color: rgb(130, 137, 168);
				opacity: 1; /* Firefox */
				z-index: -1;
			}
		}
		.Button3 {
			width: 30rem;
		}
	}
	&__haskLink {
		color: var(--subs-yellow);
	}
}

@media (min-width: 480px) {
	.accueil {
		&__container {
			margin: 3rem;
		}
		&__titles {
			h1 {
				font-size: 6rem;
				animation: 3s mainTitleAnimation;
			}
			h2 {
				display: block;
				font-size: 3.5rem;
				margin-top: 0rem;
				animation: 3s secondTitleAnimation;
			}
		}
		&__description {
			font-size: 2rem;
		}
		&__buttons {
			flex-direction: row;
			& > * {
				margin: 20px 10px;
			}
			&-input {
				font-size: 1.9rem;
				padding: 14px 32px;
				width: 30rem;
				background-position-x: 24px;
				background-position-y: 10px;
			}
		}
	}
}

@keyframes mainTitleAnimation {
	0% {
		opacity: 0;
		transform: translate(-500px);
	}

	50% {
		opacity: 1;
		transform: translate(0px);
	}
}

@keyframes secondTitleAnimation {
	0% {
		opacity: 0;
		transform: translate(300px);
	}
	50% {
		opacity: 0;
		transform: translate(300px);
	}

	100% {
		opacity: 1;
	}
}

@keyframes arrowMovement {
	0% {
		transform: translate(-20px, 0);
	}
	90% {
		transform: translate(-20px, 0);
	}
	95% {
		transform: translate(-20px, 20px);
	}
	100% {
		transform: translate(-20px, 0px);
	}
}

////////////////////////////////////////////////////////////////////////
// PRODUCTS
////////////////////////////////////////////////////////////////////////

.products {
	h2 {
		font-size: 3rem;
		margin-top: 10rem;
		margin-bottom: 3rem;
		font-weight: bold;
	}
	&__container {
		& > :nth-child(1) {
			background-color: var(--subs-blue);
			color: white;
		}
		& > :nth-child(2) {
			background-color: var(--subs-yellow);
			color: var(--subs-blue);
		}
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: auto;
		justify-content: center;
		align-items: center;
	}
	&__card {
		// border: 3px solid var(--subs-yellow);
		// color: var(--subs-blue);
		box-shadow: 0 0 35px -2px rgb(0 0 0 / 20%);
		// width: 40rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border-radius: 2rem;
		margin: 3rem 4rem;
		padding: 3rem;
		transition: all 0.3s ease-in-out !important;

		&:hover {
			transform: scale(1.015) !important;
			transition: all 0.3s ease-in-out !important;
		}
		&-header {
			h3 {
				font-size: 2rem;
				font-weight: bold;
				margin-bottom: 0;
				color: inherit;
			}
		}
		&-description {
			font-size: 1.6rem;
			color: inherit;
			text-align: start;
			text-justify: inter-word;
			&-lien {
				text-decoration: none;
				color: var(--blue);
				text-align: center;
			}
		}
	}
}

@media (min-width: 480px) {
	.products {
		margin: 0;
		&__card {
			height: auto;
			margin: 70px;
			width: 35rem;
			padding: 5rem;
			height: 40rem;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// PRESENTATION
////////////////////////////////////////////////////////////////////////

.presentation {
	&-title {
		font-size: 3rem;
		font-weight: 700;
	}
	&__header {
		color: var(--font-color-1);
		h3 {
			font-size: 2rem;
			font-weight: 400;
			color: var(--font-color-1);
		}
		h4 {
			color: var(--font-color-1);
			font-weight: 300;
		}
	}
	&__offre {
		color: var(--font-color-1);
		margin: auto;
		margin-bottom: 0;
	}
	&__produits {
		border: 1px solid var(--background-color);
		border-radius: 10px;
		box-shadow: 0 0 35px -2px rgb(0 0 0 / 20%);
		width: 100%;
		max-width: 800px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	&__produit {
		color: var(--font-color-1);
		margin: 3rem 2rem;
		width: 35rem;
		height: 35rem;
		overflow: hidden;
		background-color: rgba(0, 0, 0, 0.04);
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 1rem;
		transition: all 0.3s ease-in-out;
		align-items: center;
		p {
			font-size: 2rem;
		}

		&-description {
			justify-content: left;
			margin: auto;
			margin-top: 0;
			li {
				color: var(--font-color-1);
				text-align: justify;
				text-justify: initial;
				font-size: 1.4rem;
			}
		}
		&-commission {
			font-size: 1.3rem;
			color: var(--font-color-1);
		}
		&-btn {
			margin: auto;
		}
	}
}

@media (max-width: 600px) {
	.presentation {
		height: auto;
		width: 80%;
		&__header {
			h3 {
				font-size: 1.8rem;
			}
			h4 {
				font-size: 1.4rem;
			}
		}
		&__offre {
			font-size: 1.6rem !important;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// EPARGNE
////////////////////////////////////////////////////////////////////////

.epargne {
	margin-top: 15rem;
	.bck-left {
		:before {
			content: "";
			position: absolute;
			left: 0;
			top: -10px;
			width: 80rem;
			height: 30rem;
			border-radius: 0 100px 100px 0;
			background-color: var(--subs-blue-very-shadowed);
		}
	}
	.bck-right {
		:after {
			content: "";
			position: absolute;
			right: 0;
			top: -10px;
			width: 80rem;
			height: 35rem;
			border-radius: 100px 0px 0 100px;
			background-color: var(--subs-blue-very-shadowed);
		}
	}
	h2 {
		font-size: 2.7rem;
		font-weight: bold;
	}
	// :nth-child(1) {
	// 	.epargne__container {
	// 		border: 1px solid red;
	// 	}
	// }
	&__container {
		// width: 100vw;
		left: 0;
		margin: 10rem auto;
		padding: 0 20%;
		display: flex;
		position: relative;
		// :before {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 80rem;
		// 	height: 35rem;
		// 	border-radius: 0px 100px 100px 0px;
		// 	background-color: var(--subs-blue-very-shadowed);
		// }
	}
	&__text {
		width: 55%;
		padding: 3rem 0;
		text-align: justify;
		text-justify: initial;
		color: var(--font-color-1);
		h3 {
			margin-bottom: 2rem;
			font-size: 2.5rem;
			text-align: start;
		}
	}
	&__image {
		width: 45%;
		margin: auto;
		img {
			display: block;
			width: 100%;
			margin: auto;
		}
	}
}

@media (max-width: 600px) {
	.epargne {
		.bck-left {
			&:before {
				width: 10rem;
				border: 1px solid red;
			}
		}
		.bck-right {
			&:after {
				width: 10rem;
				border: 1px solid red;
			}
		}
		&__container {
			margin: 10rem 0;
			padding: 2rem;
			// 	&::before {
			// 		width: 40rem;
			// 	}
		}
		&__text {
			width: 100%;
			padding: 0;
			h3 {
				font-size: 2rem;
			}
		}
		&__image {
			display: none;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// ACCREDITATIONS
////////////////////////////////////////////////////////////////////////

.accreditations {
	h5 {
		color: var(--font-color-2);
	}
	.accred-list {
		margin: 4rem auto;
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		& > * {
			margin: 2rem;
			padding: 2rem;
			border-radius: 15px;
			box-shadow: 0px 7px 20px #e1dee6, -5px -5px 9px #ffffff;
			&:hover {
				box-shadow: 0 7px 20px rgb(0 0 0 / 25%),
					0 5px 5px rgb(0 0 0 / 22%);
			}
		}
		img {
			filter: grayscale(100%);
			width: 150px;
		}
	}
}

@media (max-width: 600px) {
	.accreditations {
		padding: 1rem;
		width: 90%;
		h2 {
			font-size: 2.6rem;
		}
		h5 {
			font-size: 1.8rem;
		}
		.accred-list {
			justify-content: space-around;
			align-items: center;
			width: 100%;
			img {
				width: 13rem;
				height: 10rem;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////
// CARTES
////////////////////////////////////////////////////////////////////////

.cartes {
	h2 {
		font-size: 3rem;
	}
	.cartes-contenu {
		width: 100%;
		display: flex;
		flex-direction: row;
		.carte {
			box-shadow: 0 0 25px -2px rgb(0 0 0 / 20%);
			margin: 4.5rem;
			padding: 2rem;
			border-radius: 5px;

			&__header {
				font-size: 2.2rem;
			}
			&__description {
				justify-content: left;
				margin: 0.8rem;
				font-size: 2rem;
				li {
					text-align: justify;
					text-justify: initial;
					font-size: 1.5rem;
				}
			}
			&-commission {
				color: var(--font-color-2);
				font-size: 1.4rem;
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////
// FAQ
////////////////////////////////////////////////////////////////////////

.faq {
	h2 {
		margin: 5rem;
		font-weight: bold;
	}
	&__container {
		max-width: 800px;
		margin: auto;
		width: 100%;
	}
	&__contact {
		display: inline-block;
		border-radius: 500px;
		background-color: rgb(234, 237, 240);
		margin: 3rem auto;
		padding: 2rem 4rem;
		a {
			color: var(--subs-blue);
			text-decoration: none;
		}
	}
	&__question {
		background-color: hsl(0, 0%, 100%);
		border: 3px solid transparent;
		border-radius: 10px;
		margin: 20px 0;
		padding: 20px;
		position: relative;
		overflow: hidden;
		&:hover {
			border: 3px solid var(--subs-yellow);
			transition: all 0.3s ease;
		}
	}
	&__title {
		margin: 0 35px 0 0;
	}

	&__text {
		display: none;
		margin: 30px 0 0;
		transition: 5s ease;
		text-align: justify;
		text-justify: inter-word;
		color: var(--font-color-4);
	}
	&__question.active {
		background-color: white;
		border: 3px solid var(--subs-yellow);
	}

	&__toggle {
		background-color: transparent;
		border: 0;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		padding: 0;
		position: absolute;
		top: 20px;
		right: 20px;
		height: 22px;
		width: 22px;
		&:focus {
			outline: 0;
		}
	}

	&__toggle .fa-times {
		display: none;
	}
}

.faq__question.active .faq__text {
	display: block;
}

.faq__question.active .faq__toggle .fa-times {
	display: block;
	color: #fff;
}
.faq__question.active .faq__toggle .fa-chevron-down {
	display: none;
}
.faq__question.active .faq__toggle {
	background-color: var(--subs-blue);
}

@media (max-width: 600px) {
	.faq {
		&__container {
			width: 80%;
		}
		&__title {
			font-size: 1.8rem;
		}
		&__question {
			padding: 1rem;
		}
		&__contact {
			width: 80%;
			padding: 1.5rem;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// BOTTOM
////////////////////////////////////////////////////////////////////////

.bottom {
	& > * {
		margin-top: 1rem;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4rem;

		img {
			width: 90px;
		}
		&-email {
			font-size: 1.4rem;
			color: var(--font-color-2);
			a {
				text-decoration: none;
				color: var(--font-color-2);
			}
		}
	}

	&__icons > a {
		margin: 1rem;
	}
	&__down {
		display: flex;
		margin: auto;
		// width: 30%;
		justify-content: space-around;
		a {
			text-decoration: none;
			color: var(--font-color-2);
			font-size: 1.4rem;
		}
		& > * {
			margin-top: 1rem;
		}
		& > *:not(:last-child) {
			margin-right: 1rem;
		}
	}
	&__flag {
		display: flex;
		align-items: center;
		margin: auto;
		& > * {
			margin: 3px;
			margin-top: 1rem;
		}
		img {
			width: 15px;
			height: 15px;
		}
		div {
			color: var(--font-color-2);
			font-size: 1.3rem;
		}
	}
	&__copyright {
		color: var(--font-color-2);
		font-size: 1.4rem;
	}
}

@media (max-width: 600px) {
	.bottom {
		width: 80%;
	}
}

////////////////////////////////////////////////////////////////////////
// ARTICLES
////////////////////////////////////////////////////////////////////////

.articles {
	&__container {
		border: 1px solid black;
		display: flex;
		max-width: 70%;
		justify-content: center;
		align-items: flex-start;
		margin: auto;
		flex-wrap: wrap;
	}
	&__post {
		border: 1px solid grey;
		width: 30rem;
		height: 44rem;
		margin: 2rem;
		border-radius: 10px;
	}
}

////////////////////////////////////////////////////////////////////////
// ARTICLE
////////////////////////////////////////////////////////////////////////

.article {
	text-align: justify;
	text-justify: left;
	&__header {
		text-align: justify;
		text-justify: left !important;
		width: 100%;
		margin: 4rem auto 0 auto;
		color: var(--font-color-1);
	}
	&__sub-header {
		width: 100%;
		margin: 0 auto 0rem auto;
		font-size: 2rem;
		color: var(--font-color-4);
	}
	&__author {
		width: 100%;
		margin: 2rem auto 1rem auto;
		display: flex;

		img {
			border-radius: 50%;
		}
		&-text {
			align-items: center;
			margin: auto;
			margin-left: 2rem;
			margin-right: 0;
			font-size: 1.6rem;
			color: var(--font-color-4);
			p {
				display: inline-block;
			}
		}
	}
	&__text {
		width: 100%;
		margin: 2rem auto 7rem auto;
		text-align: justify;
		text-justify: inter-word;
		color: var(--font-color-2);
	}
}

.articleForm {
	form {
		display: flex;
		flex-direction: column;
		& > * {
			margin: 1rem;
			display: flex;
			flex-direction: column;
			label {
				display: inline-block;
			}
			input,
			textarea {
				padding: 6px;
				border: 2px solid var(--subs-blue);
				border-radius: 15px;
				outline: none;
			}
		}
		button {
			padding: 6px;
			border: 2px solid var(--subs-blue);
			border-radius: 100px;
			outline: none;
			background-color: var(--subs-blue);
			color: white;
		}
	}
}

////////////////////////////////////////////////////////////////////////
// LOGIN
////////////////////////////////////////////////////////////////////////

.login {
	.form {
		color: black;
		max-width: 55rem;
		color: inherit;
		background-color: white;
		width: 80%;
		border-radius: 20px;
		padding: 3rem;
	}
	.__buttons {
		color: black;
	}
	&__title {
		font-size: 3.2rem;
		color: inherit;
		margin: 2rem;
	}
	&__img {
		width: 15rem;
	}

	&__label {
		display: flex;
		justify-content: left;
		margin-bottom: 1rem;
		color: var(--subs-blue);
	}

	&__field {
		// margin-top: 2rem;
		font-weight: 700;
		margin: 2rem auto;
	}
	&__checkboxes {
		margin: 2rem 0;
	}
	&__checkbox {
		margin: 1rem 0;
		display: block;
		display: flex;
		justify-content: left;
		align-items: center;
		& > * {
			margin-right: 10px;
			text-align: left;
		}
		label {
			color: black;
			a u {
				color: black;
			}
		}
	}
	&__btn {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.6rem;
		&-errMesage {
			display: block;
			justify-self: left;
			align-self: left;
			text-align: left;
			font-size: 1.2rem;
			color: var(--red);
			margin-top: 6px;
		}
	}

	&__separator {
		position: relative;
		color: grey;
		padding: auto;
		margin: auto;
		&::before {
			content: "";
			position: absolute;
			top: 50px;
			width: 300px;
			left: -150px;
			height: 2px;
			border-bottom: 2px solid var(--subs-yellow);
			border-radius: 100px;
		}
	}

	&__footer {
		width: 80%;
		max-width: 50rem;
		margin: auto;
		margin-top: 10rem;
		&-text {
			font-size: 1.2rem;
			text-align: justify;
			text-justify: inter-word;
			a {
				color: white;
			}
		}
	}

	@media (min-width: 480px) {
		.login {
			width: 80%;
			&__separator::before {
				width: 300px;
				left: -150px;
			}

			.form {
				width: 80%;
			}

			&__separator {
				&::before {
					content: "";
					position: absolute;
					top: 50px;
					width: 400px;
					left: -200px;
					height: 2px;
					border-bottom: 2px solid var(--subs-yellow);
					border-radius: 100px;
				}
			}
		}
	}
}

.success {
	&__modal {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: black;
		z-index: 100;
		top: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
}

////////////////////////////////////////////////////////////////////////
// CHOICES
////////////////////////////////////////////////////////////////////////

.choices {
	h2 {
		margin: 2rem;
		font-size: 3rem;
	}
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__box {
		border-radius: 15px;
		height: 20rem;
		width: 30rem;
		margin: 1rem;
		position: relative;
		transition: all ease 0.3s;
		border: 3px solid transparent;
		padding: 5px;

		&-texts {
			width: 100%;
			height: 100%;
			padding: 1rem;
			border-radius: 10px;
			color: var(--font-color-4);
			transition: all ease 0.3s;
		}

		&-title {
			font-size: 2rem;
		}

		&-content {
			margin: 1rem 0rem;
			font-size: 1.6rem;
			& li {
				float: left;
				display: block;
				margin: 0.5rem 0.5rem;
			}
		}

		&-left {
			& .choices__box-texts {
				background-color: var(--subs-blue-shadowed);
				&:hover {
					background-color: var(--subs-blue);
					color: white;
				}
			}
			&.clicked {
				border: 3px solid var(--subs-blue);
				& .choices__box-texts {
					background-color: var(--subs-blue);
					color: white;
				}
			}
		}

		&-right {
			& .choices__box-texts {
				background-color: var(--subs-yellow-shadowed);
				&:hover {
					background-color: var(--subs-yellow);
					color: var(--subs-blue);
				}
			}
			&.clicked {
				border: 3px solid var(--subs-yellow);
				& .choices__box-texts {
					background-color: var(--subs-yellow);
					color: var(--subs-blue);
				}
			}
		}
	}

	&__validationBtn {
		margin: 4rem auto;
		max-width: 40rem;
	}
}

@media (min-width: 480px) {
	.choices {
		h2 {
			margin: 5rem;
			font-size: 3rem;
		}
		&__container {
			flex-direction: row;
		}
		&__box {
			border-radius: 15px;
			height: 30rem;
			width: 40rem;
			margin: 2rem;
			&-title {
				font-size: 2.5rem;
			}
			&-texts {
				padding: 3rem;
			}
			&-content {
				margin: 4rem 0rem;
				font-size: 1.8rem;
				& li {
					float: left;
					display: list-item;
					margin: 1rem 2rem;
				}
			}
		}
	}
}

.toast {
	background-color: white;
	color: var(--subs-blue);
	border: 2px solid var(--subs-blue);
	font-weight: 700;
	border-radius: 5px;
	padding: 1rem 2rem;
	margin: 0.5rem;
	transition: all 0.1s ease-in-out;
	&.fadding {
		transform: translateX(300px);
		background-color: red;
	}
}

.confirmation {
	&__container {
		background-color: var(--subs-blue);
		border-radius: 30px;
		margin: auto 5rem;
		padding: 5rem;
		height: 40rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		color: white;
		h2 {
			color: white;
		}
	}
}
@media (min-width: 480px) {
	.confirmation {
		&__container {
			margin: auto;
		}
	}
}
