.container {
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: column nowrap;
	text-align: center;
	font-size: 1.6rem;
}

.header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 10rem;
	z-index: 1;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}

.mainpage {
	// position: absolute;
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 auto;

	// max-height: 100vh;
	// border: 1px solid black;
}

.section {
	min-height: 100vh;
	position: relative;
}

.accueil {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: url("../images/fond-mobile.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #2d43a5;
	// max-width: 1100px;
	// margin: 5rem auto;
}

@media (min-width: 480px) {
	.section {
		scroll-snap-align: start;
		min-height: 100vh;
		position: relative;
	}
	.accueil {
		background-image: url("../images/fond-tablette.png");
	}
}
@media (min-width: 1200px) {
	.accueil {
		background-image: url("../images/fond-ordi.png");
	}
}

.products {
	max-width: 1500px;
	// margin: 4rem auto;
}

.presentation {
	width: 100%;
	margin: 5rem 10%;
	position: relative;
}

.accreditations {
	width: 70%;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// padding: 3rem;
	overflow: hidden;
	font-size: 25px;
	margin: 2rem auto;
	// margin: 5rem 0;
}

.etapes {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 5rem 0;
}

.produit {
	position: relative;
	margin: 5rem 0;
	display: flex;
	flex-direction: row;
}

.cartes {
	position: relative;
	margin: 5rem 0;
	display: flex;
	flex-direction: column;
}

.epargne {
	position: relative;
	width: 70%;
	max-width: 1100px;
	margin: 5rem auto;
}

.inscriptions {
	border: 1px solid black;
	position: relative;
	width: 80%;
	margin: 8rem auto;
}

.faq {
	position: relative;
	width: 100vw;
	margin: 5rem 0;
	padding: 10rem 0;
	background: url("../images/fond-faq.png") center no-repeat;
	background-size: 100% 100%;
}

.bottom {
	position: relative;
	width: 70%;
	max-width: 1100px;
	margin: auto;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
}

.loading-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.article {
	position: relative;
	max-width: 600px;
	margin: auto;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.login {
	// max-width: 800px;
	margin: auto;
	// margin-top: 4rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.choices {
	// height: 100vh;
	width: 100%;
	margin: 5rem;
	padding: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#toasts {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
